<nav class="announcement">
  <div class="container container-fluid d-flex justify-content-center align-items-center rounded-3">
      <p class="me-5">新註冊會員：首單現折$60</p>
      <a class="navbar-brand" href="signup.html"><button type="button" class="btn btn-signup py-1 px-2">立即註冊</button></a>
    </div>
    
  </div>
</nav>