<footer class="footer">
    <!-- footer info -->
    <div class="footer-info">    
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <!-- footer-left -->
                <div class="container">
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div>
                            <a href="index.html"><img src="/assets/images/footer/footer-logo.png" alt="logo" class="footer-logo"></a>
                        </div>
                        <div class="footer-contact">
                            <p class="mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-icon lucide-message-circle me-4 ms-2"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/></svg>02-27341788</p>
                            <a href="mailto:ervice.maorihe@gmail.com" class="d-flex footer-link mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail me-4 ms-2"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg><p>service.maorihe@gmail.com</p>
                            </a>
                            <div>
                                <a href="#" class="btn social-btn" aria-current="page"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook-icon lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg></a>
                                <a href="#" class="btn social-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg></a>
                                <a href="#" class="btn social-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-at-sign-icon lucide-at-sign"><circle cx="12" cy="12" r="4"/><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"/></svg></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-right -->
                <div class="container">
                    <div class="row justify-content-evenly">
                        <!-- resource card -->
                        <div class="col-4">
                            <ul class="footer-list text-center">
                                <li class="zen-maru-gothic-regular py-2 border-bottom mb-3">外部資源</li>
                                <li class="py-2"><a href="#">寵物殯葬</a></li>
                                <li class="py-2"><a href="#">寵物醫療</a></li>
                                <li class="py-2"><a href="#">寵物保險</a></li>
                                <li class="py-2"><a href="#">浪浪援助</a></li>
                            </ul>
                        </div>
                        <!-- faq card -->
                        <div class="col-4">
                            <ul class="footer-list text-center">
                                <li class="zen-maru-gothic-regular py-2 border-bottom mb-3">常見問題</li>
                                <li class="py-2"><a href="faq.html">FAQ</a></li>
                                <li class="py-2"><a href="faq.html">物流配送</a></li>
                                <li class="py-2"><a href="#">退換貨政策</a></li>
                                <li class="py-2"><a href="#">細則與條款</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>


        
        </div>
        <div>
            <a href="#top" class="footer-link">
                <button type="button" class="btn btn-totop rounded-circle"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-up-icon lucide-arrow-big-up"><path d="M9 13a1 1 0 0 0-1-1H5.061a1 1 0 0 1-.75-1.811l6.836-6.835a1.207 1.207 0 0 1 1.707 0l6.835 6.835a1 1 0 0 1-.75 1.811H16a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1z"/></svg></button>
            </a>
        </div>
    </div>
    <!-- copyright declaration -->
     <div class="footer-copyright text-center">
        <p>© Copyright 2025 MAORIHE. All Rights Reserved</p>
     </div>
</footer>