.form-select {
  letter-spacing: 0.05em;
}

input:focus {
  border-width: 2px;
  border-color: $primary-500 !important;
}

select:focus {
  border-width: 2px;
}

.form-control {
  padding: 12px 24px;
}
