.navbar{
  margin-top: 32px;
  background-color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $brown-500;
}

.nav-logo{
  width:129px;
  height: 28px;

}

.nav-avatar{
  width: 44px;
  height: 44px;
}

.cart-btn{
  display: flex;              
  justify-content: center;
  width: 44px;                 
  height: 44px;
  border: 2px solid $primary-500;    
  border-radius: 50%;          
  text-decoration: none;

}

.cart-btn svg {
  transition: transform 0.25s ease;
}

.cart-btn:hover {
  background-color: $primary-500;
}

.cart-btn:hover svg {
  transform: scale(1.1);
}

.cart-btn:hover svg path,
.cart-btn:hover svg circle {
  stroke: white;
}


header .nav-link{
  color: $brown-500;
}

header .nav-link .nav-icon {
  width: 24px;
  height: 24px;
  color: $primary-500;            
}

header .dropdown-menu {
  --bs-dropdown-min-width: auto;
  position: relative;

}

header .dropdown-menu li::after {
  content: "";
  display: block;
  width: 65%;                     
  height: 2px;    
  background:lighten($primary-500, 30%);
  margin: 0 auto;            
  border-radius: 2px;
}

/* 最後一個不要線 */
header .dropdown-menu li:last-child::after {
  display: none;
}

/* 隱藏 Bootstrap 的 ::after，改用自己的圖示 */
header .dropdown-toggle::after{ display:none; }

.caret-icon{
  width: 1em; height: 1em;  
  margin-left: 14px;
  vertical-align: -.1em;
  transition: transform .2s ease;
}

header .dropdown-item:hover,
.dropdown-item:focus {
  color: $primary-500;  
  background-color: transparent;
  font-weight: 700;
}


