.btn-FAQ{
    color: $brown-300;
    border-color: $brown-300;
    font-size: $font-size-sm;
    border-radius: 0.5rem;
}

.btn-FAQ:hover{
    color: $white;
    background-color: $brown-300;
    font-size: $font-size-sm;
    border-radius: 0.5rem;
}