.body{
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container{
    max-width: 1296px;
}

.text-primary-500{
    color: #FC762F;
}

.section-lined{
    border-top: 2px solid #FBBD3F;
}

.bg-yellow{
    background-color: #FFF1EA;
}

.px-110{
    padding-left: 110px;
    padding-right: 110px;
}

.py-80{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ps-8{
    padding-left: 0.5rem;
}


.mb-16{
    margin-top: 1rem;
    margin-bottom: 1rem;
}