// 元件文字
pet-info span {
  font-size: 0.875rem;
  color: $primary-500;
}
.title p {
  font-size: 1.125rem;
  color: $primary-500;
  letter-spacing: 0.03em;
}
.info-card h4 {
  color: $primary-500;
}
.item-title {
  font-size: 1.125rem;
  letter-spacing: 0.03em;
}
.item-text {
  font-size: 0.875rem;
  color: $brown-300;
}

// 元件-卡片
.input-number {
  color: $brown-500;
}
.health-img {
  width: 120px;
  height: auto;
}
