<!DOCTYPE html>
<html lang="ZH-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>毛日和專欄</title>
</head>

<body>
    <%- include('./layout/header-logout'); -%>
    <main>
    <%- include('./layout/announcement'); -%>
    <!-- Banner -->
     <section class="blog-banner">
      <div class="text-white">
        <h1 class="fs-2 zen-maru-gothic-regular mb-4">毛日和專欄</h1>
        <h2 class="fs-6 zen-maru-gothic-regular">每天多一點了解，毛孩多一份幸福</h2>
      </div>
     </section>

     <div class="container blog-body mb-9">
      <div class="row g-6">
        <!--左側文章列表 -->
        <section class="blog-post col-8">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
              <li class="breadcrumb-item active" aria-current="page">毛孩照護</li>
            </ol>
          </nav>
          <h2 class="py-3 blog-title mb-6">
            最新文章
          </h2>
          <!-- 文章列表 -->
          <div class="card mb-5 shadow-sm">
            <div class="row">
              <!-- 卡片左邊圖片 -->
              <div class="col-4">
                <img src="/assets/images/common/blog-post-1.jpg" class="post-img" alt="blog-post-1">
              </div>
              <!-- 卡片右邊文字 -->
              <div class="col-8">
                <div class="card-body">
                  <div class="date">2025 ​/ 08 /​ 12</div>
                  <h5 class="caption">零食該不該天天吃？營養師這樣說</h5>
                  <div class="context">寵物零食一直是毛爸毛媽關注的重點，有些寵物零食可以吃得很健康，而有些則可能不適合你的毛孩，那該如何挑選適合寵物的健康零食呢？</div>
                  <a href="#" class="post-link stretched-link">閱讀更多<i class="bi bi-chevron-double-right"></i></a>
                </div>
              </div>
            
              </div>
          </div>

          <div class="card mb-5 shadow-sm">
            <div class="row">
              <!-- 卡片左邊圖片 -->
              <div class="col-4">
                <img src="/assets/images/common/blog-post-2.jpg" class="post-img" alt="blog-post-2">
              </div>
              <!-- 卡片右邊文字 -->
              <div class="col-8">
                <div class="card-body">
                  <div class="date">22025 ​/ 07 /​ 25</div>
                  <h5 class="caption">​老毛孩​的​黃金​時光</h5>
                  <div class="context">​高齡犬​不​是​老​了​就​只​能​躺著。​只要​照顧​得宜，​牠們​依然​可以​每​天​笑得​像​小狗！​從飲​食​到​陪伴，​一起​守護​毛孩​的​黃金​歲月。​</div>
                  <a href="blog-post-senior-dog-care.html" class="post-link stretched-link">閱讀更多<i class="bi bi-chevron-double-right"></i></a>
                </div>
              </div>
            
            </div>
          </div>

          <div class="card mb-5 shadow-sm">
            <div class="row">
              <!-- 卡片左邊圖片 -->
              <div class="col-4">
                <img src="/assets/images/common/blog-post-3.jpg" class="post-img" alt="blog-post-3">
              </div>
              <!-- 卡片右邊文字 -->
              <div class="col-8">
                <div class="card-body">
                  <div class="date">2025 ​/ 05 /​ 10</div>
                  <h5 class="caption">毛孩​不​能​吃什麼？​十大​地​雷​食物​大​公開​</h5>
                  <div class="context">不​小心餵​到​這些，​可能​會讓​毛孩​中​毒！​ 常​見食材​也​有​危機，​一起​避開​健康​地雷，​守住​毛孩​的​第一​道​防線！​</div>
                  <a href="#" class="post-link stretched-link">閱讀更多<i class="bi bi-chevron-double-right"></i></a>
                </div>
              </div>
            
            </div>
          </div>
          <div class="card mb-5 shadow-sm">
            <div class="row">
              <!-- 卡片左邊圖片 -->
              <div class="col-4">
                <img src="/assets/images/common/blog-post-4.jpg" class="post-img" alt="blog-post-4">
              </div>
              <!-- 卡片右邊文字 -->
              <div class="col-8">
                <div class="card-body">
                  <div class="date">2025 ​/ 04 /​ 30</div>
                  <h5 class="caption">愛​亂咬？​可能​是​毛孩​在​跟​你​說話​</h5>
                  <div class="context">狗狗亂咬​東西，​其實​是​在​求救？​ ​可能​是​壓力、​無聊，​或是​不​小心​養成​的​壞習慣，​破解​毛​孩​咬咬​的​秘密，​一起​找回​和平​生活！</div>
                  <a href="#" class="post-link stretched-link">閱讀更多<i class="bi bi-chevron-double-right"></i></a>
                </div>
              </div>
            
            </div>
          </div>
          <div class="card mb-5 shadow-sm">
            <div class="row">
              <!-- 卡片左邊圖片 -->
              <div class="col-4">
                <img src="/assets/images/common/blog-post-5.jpg" class="post-img" alt="blog-post-5">
              </div>
              <!-- 卡片右邊文字 -->
              <div class="col-8">
                <div class="card-body">
                  <div class="date">2025 ​/ 03 /​ 20</div>
                  <h5 class="caption">挑嘴​不​是​錯！​讓毛​孩愛​上​吃飯​的​ 5​ 個祕訣​</h5>
                  <div class="context">毛孩總​是​聞​一​聞​就​走開？​別急著罵牠挑食！​換個​方式餵、​加點​創意，​你​也​能​讓牠​吃光​光讓。​吃飯​變成​最​期待​的​時光！</div>
                  <a href="#" class="post-link stretched-link">閱讀更多<i class="bi bi-chevron-double-right"></i></a>
                </div>
              </div>
            
            </div>
          </div>

          <div class="blog-navigation mt-6">
            <ul class="pagination d-flex justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><span>...</span></li>
              <li class="page-item"><a class="page-link" href="#">10</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <!-- 右側sidebar -->
        <section class="blog-sidebar col-4">
          <!-- 搜尋 -->
        <div class="search-bar mb-5">
          <form>
            <div class="d-flex">
            <input class="form-control search-form me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-search" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
        </div>
        <!-- 熱門文章 -->
        <div class="popular-post">
          <h3 class="py-3 blog-title popular-post-title mb-6">熱門文章</h3>
          
          <div class="ps-4">
              <div class="card card-body position-relative mb-5">
                <span class="position-absolute top-0 start-0 translate-middle badge bg-primary rounded-0">
                  1
                </span>
                <div class="date">2025 ​/ 08 /​ 12</div>
                <h6 class="caption">零食該​不​該​天​天​吃？​營養師這樣說​​</h6>
                <div class="context d-inline-block text-truncate">寵物零食一直是毛爸毛媽關注的重點，有些寵物零食可以吃得很健康，而有些則可能不適合你的毛孩，那該如何挑選適合寵物的健康零食，讓牠們得到足夠營養和保持健康活力呢？</div>
                <a href="#" class="stretched-link"></a>
                <div class="d-flex post-tag" style="font-size: 12px;">
                  <a href="#">寵物保健</a>
                  <span class="me-1">,</span>
                  <a href="#">飲食營養</a>
                  <span class="me-1">,</span>
                  <a href="#">毛孩新知</a>
                </div>
            </div>

            <div class="card card-body position-relative mb-5">
                <span class="position-absolute top-0 start-0 translate-middle badge bg-primary rounded-0">
                  2
                </span>
                <div class="date">2025 ​/ 04 /​ 30</div>
                <h6 class="caption">愛​亂咬？​可能​是​毛孩​在​跟​你​說話​​</h6>
                <div class="context d-inline-block text-truncate">狗狗亂咬​東西，​其實​是​在​求救？​ ​可能​是​壓力、​無聊，​或是​不​小心​養成​的​壞習慣，​破解​毛​孩​咬咬​的​秘密，​一起​找回​和平​生活！</div>
                <a href="#" class="stretched-link"></a>
                  <div class="d-flex post-tag" style="font-size: 12px;">
                  <a href="#">訓練技巧</a>
                  <span class="me-1">,</span>
                  <a href="#">寵物疾病</a>
                  <span class="me-1">,</span>
                  <a href="#">人寵關係</a>
                </div>
                
            </div>

            <div class="card card-body position-relative mb-5">
                <span class="position-absolute top-0 start-0 translate-middle badge bg-primary rounded-0">
                  3
                </span>
                <div class="date">2025 ​/ 03 /​ 20</div>
                <h6 class="caption">挑嘴​不​是​錯！​讓毛​孩愛​上​吃飯​的​ 5​ 個祕訣​​</h6>
                <div class="context d-inline-block text-truncate">毛孩總​是​聞​一​聞​就​走開？​別急著罵牠挑食！​換個​方式餵、​加點​創意，​你​也​能​讓牠​吃光​光讓。​吃飯​變成​最​期待​的​時光！</div>
                <a href="#" class="stretched-link"></a>
                <div class="d-flex post-tag" style="font-size: 12px;">
                  <a href="#">訓練技巧</a>
                  <span class="me-1">,</span>
                  <a href="#">飲食營養</a>
                  <span class="me-1">,</span>
                  <a href="#">毛孩新知</a>
                </div>
            </div>

          </div>
          <!-- 熱門標籤 -->
          <div class="categories mb-5">
            <h3 class="py-3 blog-title categories-title mb-5">文章標籤</h3>
            <div class="d-flex flex-wrap ms-4">
              <a href="" class="category-tag mb-4">寵物​保健</a>
              <a href="" class="category-tag mb-4">外出用品</a>
              <a href="" class="category-tag mb-4">居家用品</a>
              <a href="" class="category-tag mb-4">寵物​玩具</a>
              <a href="" class="category-tag mb-4">美毛護膚</a>
              <a href="" class="category-tag mb-4">飲食營養</a>
              <a href="" class="category-tag mb-4">毛孩新知</a>
              <a href="" class="category-tag mb-4">寵物疾病</a>
              <a href="" class="category-tag mb-4">訓練技巧</a>
              <a href="" class="category-tag mb-4">高齡犬</a>
              <a href="" class="category-tag mb-4">社會化訓練</a>
              <a href="" class="category-tag mb-4">人寵關係</a>
              <a href="" class="category-tag mb-4">分齡照護</a>
            </div>

          </div>

          <!-- 廣告 -->
           <div class="campaign-section">
            <div>
              <a href="#"><img src="/assets/images/common/campaign-1.png" alt="campaign-1"></a>
            </div>

           </div>
          
        </div>
      </div>
     </div>









    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script>
    (() => {
      'use strict';
      const forms = document.querySelectorAll('.needs-validation');
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');  // 讓 .invalid-feedback 顯示
        }, false);
      });
    })();
    </script>
  </body>
</html>

