<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/lucide-static@latest/font/lucide.css"
    />
    <title>訂單確認</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="checkout py-11">
      <div class="container">
        <!-- 標題進度條 -->
        <div
          class="d-flex justify-content-between align-items-center mb-6 px-110"
        >
          <!-- 標題 -->
          <div class="title">
            <h2 class="fw-bold mb-2 ls-5">訂單確認</h2>
          </div>

          <!-- 進度條 -->
          <div class="step d-flex align-items-center">
            <div class="step-item">
              <img
                src="/assets/images/index/service_step_1.svg"
                alt="step_1"
                class="mx-auto d-block px-5 mb-2"
              />
              <p class="text-center fs-14">購物車</p>
            </div>
            <div class="step-line"></div>
            <div class="step-item">
              <img
                src="/assets/images/index/service_step_2.svg"
                alt="step_2"
                class="mx-auto d-block px-5 mb-2"
              />
              <p class="text-center fs-14">訂單確認與結帳</p>
            </div>
            <div class="step-line disabled"></div>
            <div class="step-item disabled">
              <img
                src="/assets/images/index/service_step_3.svg"
                alt="step_3"
                class="mx-auto d-block px-5 mb-2"
              />
              <p class="text-center fs-14">完成訂閱</p>
            </div>
          </div>
        </div>

        <!-- 訂單明細卡片 -->
        <div class="card-bg py-9 px-110 mb-6">
          <!-- 訂單明細 -->
          <div class="row-table mb-6">
            <!-- 表格 -->
            <div class="col-table-10">
              <h5 class="mb-5 ls-5">訂單明細</h5>

              <!-- 表格標題 -->
              <div class="table-title-bg d-flex py-2 mb-2">
                <p class="col-table-1-5 text-center">訂閱期數</p>
                <p class="col-table-4 text-center">品項</p>
                <p class="col-table-1-5 text-center">單價</p>
                <p class="col-table-1-5 text-center">數量</p>
                <p class="col-table-1-5 text-center">小計</p>
              </div>

              <!-- 表格第一列 -->
              <div class="table-container-bg d-flex py-4 mb-2">
                <!-- 訂閱期數 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  3
                </div>
                <!-- 品項 -->
                <div class="col-table-4 ps-4">
                  <p class="table-title fw-bold mb-2">新手爸媽安心組</p>
                  <p class="table-text fw-normal">
                    零食 x 3 + 保健罐頭 x 2 + 互動小物 x 2
                  </p>
                </div>
                <!-- 單價 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  $699
                </div>
                <!-- 數量 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  3
                </div>
                <!-- 小計 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  $2,097
                </div>
              </div>

              <!-- 表格第二列 -->
              <div class="table-container-bg d-flex py-4 mb-2">
                <!-- 訂閱期數 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  3
                </div>
                <!-- 品項 -->
                <div class="col-table-4 ps-4">
                  <p class="table-title fw-bold mb-2">青春汪能量補給包</p>
                  <p class="table-text fw-normal">
                    零食 x 3 + 保健罐頭 x 2 + 互動小物 x 2
                  </p>
                </div>
                <!-- 單價 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  $699
                </div>
                <!-- 數量 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  2
                </div>
                <!-- 小計 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  $1,398
                </div>
              </div>

              <!-- 表格第三列 -->
              <div class="table-container-bg d-flex py-4 mb-2">
                <!-- 訂閱期數 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  3
                </div>
                <!-- 品項 -->
                <div class="col-table-4 ps-4">
                  <p class="table-title fw-bold mb-2">牛氣補補能量盒</p>
                  <p class="table-text fw-normal">
                    零食 x 3 + 保健罐頭 x 2 + 互動小物 x 2
                  </p>
                </div>
                <!-- 單價 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  $699
                </div>
                <!-- 數量 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  1
                </div>
                <!-- 小計 -->
                <div
                  class="col-table-1-5 d-flex justify-content-center align-items-center"
                >
                  $699
                </div>
              </div>
            </div>

            <!-- 訂單合計 -->
            <div class="col-table-10">
              <div class="total-bg d-flex align-items-center py-9-5 pe-4">
                <p class="col-table-1-5 text-center">訂單合計</p>
                <p class="col-table-4 text-center"></p>
                <p class="col-table-1-5 text-center"></p>
                <p class="col-table-1-5 text-center"></p>
                <p class="col-table-1-5 total-text fw-bold text-center">
                  每月<span class="fs-24 fw-medium ps-2">$4,194</span>
                </p>
              </div>
            </div>
          </div>

          <!-- 結帳資訊 -->
          <div class="row-table">
            <div class="col-table-10">
              <h5 class="mb-5 ls-5">結帳資訊</h5>

              <!-- 個人資訊 -->
              <div class="personal-info">
                <div class="table-title-bg px-5 py-2 mb-2">
                  <p>輸入你的個人資訊</p>
                </div>
                <div class="mb-5 row g-2">
                  <div class="col-6">
                    <input
                      type="name"
                      class="form-control"
                      id="checkout-name"
                      placeholder="姓名"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control"
                      id="checkout-address"
                      placeholder="地址"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="tel"
                      class="form-control"
                      id="checkout-tel"
                      placeholder="電話"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="email"
                      class="form-control"
                      id="checkout-email"
                      placeholder="電子郵件"
                    />
                  </div>
                </div>
              </div>

              <!-- 付款方式 -->
              <div class="payment-method">
                <div class="table-title-bg px-5 py-2 mb-2">
                  <p>選擇付款方式</p>
                </div>

                <div
                  role="group"
                  aria-label="Basic radio toggle button group"
                  class="mb-5 row g-2"
                >
                  <!-- 信用卡 -->
                  <div class="me-2 col-3">
                    <input
                      type="radio"
                      class="btn-check w-100"
                      name="payment-method"
                      id="credit-card"
                      autocomplete="off"
                    />
                    <label
                      class="btn btn-primary btn-diet px-0 py-3 w-100"
                      for="credit-card"
                      >信用卡</label
                    >
                  </div>

                  <!-- LINE PAY -->
                  <div class="col-3">
                    <input
                      type="radio"
                      class="btn-check"
                      name="payment-method"
                      id="LINE-PAY"
                      autocomplete="off"
                    />
                    <label
                      class="btn btn-primary btn-diet px-0 py-3 w-100"
                      for="LINE-PAY"
                      >LINE Pay</label
                    >
                  </div>
                </div>
              </div>

              <!-- 訂單備註 -->
              <div class="payment-method">
                <div class="table-title-bg px-5 py-2 mb-2">
                  <p>訂單備註</p>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control px-3 py-5"
                    placeholder="備註"
                    id="checkout-remark"
                    style="height: 100px"
                  ></textarea>
                  <label for="checkout-remark ps-3">備註</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 儲存按鈕 -->
        <div class="text-center">
          <a
            class="btn btn-primary rounded-pill btn-active-white px-40 me-6"
            href="./cart.html"
            role="button"
            >回上一步</a
          >
          <a
            class="btn btn-primary rounded-pill btn-active px-40"
            href="./finish.html"
            role="button"
            >確認付款</a
          >
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
