<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/scss/all.scss" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/lucide-static@latest/font/lucide.css"
    />
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <main class="member_activities">
        <div class="container">

        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>