<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/scss/all.scss" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/lucide-static@latest/font/lucide.css"
    />
    <title>Document</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <main class="member-activity-1 my-5 my-lg-6">
        <div class="container">
            <div class="row">
            <!-- Hero 區塊 -->
            <section class="section-spacer">
                <div class="hero-banner-2 p-3 p-md-4">
                    <img src="../assets/images/member_activities/毛孩福袋交換日主視覺.png" alt="毛孩福袋交換日-活動主視覺" class="hero-img rounded">
                </div>
            </section>

            <!-- 活動 slogan -->
            
            </div>
        </div>

        <div class="row bg-yellow">
            <div class="container">
                <section class="section-spacer my-40 text-center auto-show-1">
                    <h1 class="h1 mb-24 text-brown-500">用一份驚喜，交換毛孩的快樂！</h1>
                    <h3 class="h3 fw-500 mb-16 text-primary-500">每年毛日和都會舉辦一次「毛孩福袋互換」活動，參加者將獲得一份隨機搭配的驚喜福袋！</h3>
                    <p class="p1 text-blue mb-3">
                        裡面可能有別人家毛孩最愛的玩具或點心，也許會是你的寶貝的新歡！
                    </p>
                </section>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <section class="section-spacer bottom-lined">
                <h2 class="step-section-title mb-40 text-center auto-show-1">參與流程</h2>
                <div class="row row-cols-2 row-cols-md-4 g-4">
                    <div class="col d-flex flex-column">
                        <div class="fade-up-1">
                            <img src="../assets/images/member_activities/step_item_1.png" class="feature-circle mb-20 mx-auto img-hover-bigger" alt="步驟1-登記參加">
                        </div>
                        <div class="auto-show-1">
                            <h4 class="step-title text-center">
                                    1 登記參加
                            </h4>
                            <p class="step-text text-center">
                                填寫報名表單登記參與
                            <p>
                        </div>
                    </div>

                    <div class="col d-flex flex-column">
                       <div class="fade-up-1">
                            <img src="../assets/images/member_activities/step_item_2.png" class="feature-circle mb-20 mx-auto img-hover-bigger" alt="步驟2-系統配對">
                        </div>
                        <div class="auto-show-1">
                            <h4 class="step-title text-center">
                                    2 系統配對
                            </h4>
                            <p class="step-text text-center ">
                            系統會根據您的毛孩資料<br class="d-md-none"/>分配福袋
                            <p>
                        </div>
                    </div>

                    <div class="col d-flex flex-column">
                        <div class="fade-up-1">
                            <img src="../assets/images/member_activities/step_item_3.png" class="feature-circle mb-20 mx-auto img-hover-bigger" alt="步驟3-寄出福袋">
                        </div>
                        <div class="auto-show-1">
                            <h4 class="step-title text-center">
                                3 寄出福袋
                            </h4>
                            <p class="step-text text-center">
                                寄送交換福袋，<br class="d-lg-none"/>包含匿名祝福小卡!
                            <p>
                        </div>
                    </div>

                    <div class="col d-flex flex-column">
                        <div class="fade-up-1">
                            <img src="../assets/images/member_activities/step_item_4.png" class="feature-circle mb-20 mx-auto img-hover-bigger" alt="步驟4-收到驚喜">
                        </div>
                        <div class="auto-show-1">
                            <h4 class="step-title text-center">
                                    4 收到驚喜
                            </h4>
                            <p class="step-text text-center">
                            收到禮包，<br class="d-lg-none"/>歡迎分享開箱!
                            <p>
                        </div>
                    </div>
                </div>
            </section>

                <!-- 活動資訊 + CTA -->
                <section class="mb-80">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <div class=" mt-20 position-relative p-4 p-md-5">
                                <div class="row g-4 align-items-center auto-show-1">
                                    <div class="cta-wrap-3 col-12 col-md">
                                        <h3 class="h3 mb-16">【注意事項】</h3>
                                        <ul>
                                            <li class="mb-8">本活動僅限毛日和會員登記</li>
                                            <li class="mb-8">每人限額登記 1 份福袋</li>
                                            <li class="mb-8">內容物經篩選，不含過期或危險物品</li>
                                            <li class="mb-8">寄送前會再次檢查包裝安全。</li>
                                            <li class="mb-8">主辦單位保留活動大綱異動之權利，更新資訊以活動網站內容為主。</li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-auto text-md-end">
                                        <div class="position-relative d-inline-block">
                                            <a href="#" class="btn btn-primary btn-lg px-4">
                                                立即登記參加
                                            </a>
                                            <span class="cta-badge">
                                                來抽驚喜!
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                


            <!-- FAQ -->
                <section class="section-spacer ">
                    <h2 class="h1 mb-28 text-center text-primary-500 ">常見問題</h2>
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="accordion" id="faqAccordion">
                                <div class="accordion-item fade-up-1">
                                    <h2 class="accordion-header" id="q1">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a1" aria-expanded="false" aria-controls="a1">
                                            Q1. 我的毛孩有過敏，可以註明嗎？
                                        </button>
                                    </h2>
                                    <div id="a1" class="accordion-collapse collapse" aria-labelledby="q1" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            A: 可以！您的毛孩資料(包含敏感源) 以記錄於系統會員資料中!如果您還有其他想補充的資訊都可以在登記表單中的備註欄為告訴我們，我們會盡量為您配對適合的福袋哦!
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item fade-up-1">
                                    <h2 class="accordion-header" id="q2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a2" aria-controls="a2">
                                            Q2. 如果收到的福袋不適合我的毛孩，怎麼辦？
                                        </button>
                                    </h2>
                                    <div id="a2" class="accordion-collapse collapse" aria-labelledby="q2" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                           A：您可以將內容轉贈給其他飼主或參加下次互換活動，也可聯繫我們提供回饋意見，幫助下次優化。
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item fade-up-1">
                                    <h2 class="accordion-header" id="q3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a3" aria-controls="a3">
                                            Q3. 可以知道是誰寄給我的嗎？
                                        </button>
                                    </h2>
                                    <div id="a3" class="accordion-collapse collapse" aria-labelledby="q3" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            A：不會喔！為了保留神秘感，寄件人資料將以主辦方資訊呈現，但您會收到對方的小卡祝福。
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>